
  
  .form {
    margin-left: 3.6vw;
    /* margin-top: 24vh; */
    width: 500px;
    height: 470px;
  
    background: #d6d6d6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
  }
  
  .input {
    width: 400px;
    height: 33px;
    background: #292929;
    border: none;
    /* border: 1px solid #dbd7d7; */
    border-radius: 2px;
    text-indent: 20px;
    padding: 23px 0px;
    color: hsl(0, 5%, 92%);
  }
  
  .inside-form {
    margin-left: 3.3rem;
  }
  
  .first {
    margin-top: 3rem;
  }
  
  .last {
    margin-top: -8px;
    padding-bottom: 24px;
    background: #37CC8A;

    box-shadow: 0px 1px 0px rgba(216, 208, 208, 0.46);
    border-radius: 2px;
    text-indent: 0px;
    /* padding: 0px 0px; */
    height: 37px;
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 99.19%;
  
  /* or 10px */
  
  letter-spacing: 0.28em;
  
  color: #FFFFFF;
  
  }

  .form-btn {
    margin-top: -7px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 0px rgba(216, 208, 208, 0.46);
    border-radius: 2px;
    text-indent: 0px;
    /* padding: 0px 0px; */
    height: 37px;
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 99.19%;
  

background: #72DB73;
border-radius: 28px;
  
  /* or 10px */
  
  letter-spacing: 0.28em;
  color: #FFFFFF;
  }

  .sign-up {
    margin-top: -9px;
  }
  
  .form-btn span {
width: 50px;
height: 10px;


font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 19px;
line-height: 108.69%;
/* or 32px */

letter-spacing: 0.02em;

color: #FFFFFF;

  }
  
  #first_ele {
    margin: 0;
  }
  
  .last_div {
    margin-top: 14px;
  }
  
  .last_div p {
    margin-left: 50px;
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10.2px;
  line-height: 99.19%;
  /* or 7px */
  
  letter-spacing: 0.065em;
  
  color: #C2C2C2;
  }
  
  .last_div span {
    color: #FF0000 ;
  }

  .select {
    padding-right: 45px;
    text-indent: 15px;
    height: 19px;
  }

  .checkbox {
    display: flex;
  }

  .checkbox label {
    margin-left: 1.3rem;
    margin-top: 0.5rem;
width: 433px;
height: 19px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 139.69%;
/* or 28px */

letter-spacing: 0.02em;

color: #7C7C7C;
  }


  .checkbox input {
    margin-top: -2.4rem;
    margin-left: 0.3rem;
    width: 15px;

  }