.newsCard {
    margin-left: 1rem;
    margin-top: 2rem;
    border-radius: 19px 19px 0px 0px;
    width: 23vw;
    height: 71vh;
}

.imgContainer img {
    /* background: url(); */
    width: 23vw;
}

.newsTitle {
    background: rgba(0, 0, 0, 0.74);
}

.newsTitle h3 {
    margin: 10px;
    margin-left: 2rem;
    width: 21vw;
    height: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 123.69%;
    /* or 40px */
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.newsTitle p {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 21vw;
    height: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18.2493px;
    line-height: 141.69%;
    /* identical to box height, or 26px */
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.newsContent {
    
    /* margin-top: ; */
    width: 23vw;
    height: auto;
    background: #FFFFFF;
    border-radius: 0px 0px 19px 19px;
}

.newsContent p {
    
    margin-left: 2rem;
    width: 19vw;
    height: 30vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18.25px;
    line-height: 161.69%;
    /* or 30px */
    text-align: justify;
    color: #272727;
}