.profileCard {
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: #5746EA;
    display: flex;
    gap: 2rem;
    border-radius: 33.428px;
    width: 33vw;
    height: 50vh;
}

.profileContent {
    margin-left: 0rem;
    width: 21vw;
    height: 20vh;
}

.profileImage {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 30vw;
    height: 30vh;

    background: url(../../assets/profileImg.png);
    border: 5.27811px solid #FFFFFF;
    filter: drop-shadow(0px 8.79684px 7.03748px rgba(0, 0, 0, 0.31));
    border-radius: 329.002px;
}

#name,
#email, #user {
    margin-top: 1.5rem;
    /* width: 154.82px; */
    height: 31.67px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36.9467px;
    line-height: 103.19%;
    /* or 38px */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

#user {
    width: 307.89px;
    height: 49.26px;
    font-weight: 500;
    font-size: 65px;
    line-height: 66.19%;
    /* or 48px */
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.selectedCategories {
    /* border: solid red; */
    margin-top: 1.3rem;
    width: 19vw;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    /* row-gap: 5px; */
}